# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Custom
client
cli-go-to-net
client-*
cli-go-to-net-*
server
ser-go-to-net
server-*
ser-go-to-net-*

bin/*